@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-indie: "Indie flower";
  --font-quicksand: "Quicksand";
  --font-lexend: "Lexend Deca";
  --color-amberHome: rgb(218, 170, 170);
  --content-width: 800px;
  --color-highlightBlue: rgb(70, 148, 221);
  --color-highlightRed: rgb(151, 4, 4);
}

@layer base {
  h1 {
    @apply text-base font-quicksand tracking-tight;
  }

  #root {
    @apply w-full;
  }

  :root {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;

    --bg-gradient: linear-gradient(
      315deg,
      rgb(159, 129, 129) 0%,
      rgb(207, 181, 181) 50%,
      rgb(219, 195, 169) 100%
    );

    --color-amberHome: oklch(0.145 0 0);

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 p-2 overflow-auto flex justify-center h-screen;

    color: var(--color-amberHome);
    background: var(--bg-gradient);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
  }
}

@layer components {
  .main-heading {
    @apply text-4xl text-center text-[clamp(1.5rem,5vw,2.5rem)];
  }

  .nav-link,
  .selected {
    font-family: "Quicksand";
    min-width: max-content;
    text-align: center;
    font-size: clamp(1.2em, 2vw, 2rem);
  }

  .selected {
    text-decoration: none;
    position: relative;
    padding: clamp(0.25rem, 1vw, 0.5rem);
  }

  .selected::before,
  .selected::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
  }

  .selected::after {
    top: 0;
    left: 0;
    border-top: 3px groove var(--color-highlightRed);
    border-left: 3px groove var(--color-highlightRed);
  }

  .selected::before {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid var(--color-highlightRed);
    border-right: 3px solid var(--color-highlightRed);
  }

  .dark .selected::before {
    border-bottom: 3px solid var(--color-highlightBlue);
    border-right: 3px solid var(--color-highlightBlue);
  }

  .dark .selected::after {
    border-top: 3px groove var(--color-highlightBlue);
    border-left: 3px groove var(--color-highlightBlue);
  }

  .nav-link {
    text-decoration: none;
    position: relative;
    padding: clamp(0.25rem, 1vw, 0.5rem);
  }

  .nav-link::before,
  .nav-link::after {
    content: "";
    position: absolute;
    display: block;
    border: 0 solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease;
  }

  .nav-link::after {
    top: 0;
    left: 0;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
  }

  .nav-link::before {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    width: 10px;
    height: 10px;
    border-color: rgb(200, 8, 8);
  }

  .dark .nav-link:hover::before,
  .dark .nav-link:hover::after {
    border-color: rgba(28, 65, 153); /* Dark mode hover */
  }

  .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }

  .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }
}

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @keyframes wave {
    2% {
      transform: translateX(1);
    }

    25% {
      transform: translateX(-25%);
    }

    50% {
      transform: translateX(-50%);
    }

    75% {
      transform: translateX(-25%);
    }

    100% {
      transform: translateX(1);
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

:root {
  --radius: 0.625rem;
  --color-amberHome: rgb(82, 36, 14);
  --background: oklch(1 0 0);
  --foreground: --color-amberHome;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
}

.dark {
  --bg-gradient: linear-gradient(
    315deg,
    rgb(70, 1, 65) 3%,
    rgb(14, 44, 75) 38%,
    rgb(7, 6, 47) 68%,
    rgb(67, 12, 12) 98%
  );
  --color-amberHome: rgb(218, 170, 170);
  --background: oklch(0.145 0 0);
  --foreground: rgb(218, 170, 170);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
}

.typewriter-animation {
  animation:
    typewriter 0.8s steps(150) 0.21s 1 normal both;
}
@keyframes typewriter {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.cursor {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
}

@media (min-width: 768px) {
  .cursor {
    border-right: 1px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
  }
  @keyframes blinkingCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  .typewriter-animation {
    animation:
      typewriter 2.5s steps(50) 0.5s 1 normal both,
      blinkingCursor 500ms steps(50) infinite normal;
  }
}
