@import "tailwindcss";

@theme {
  --font-indie: "Indie flower";
  --font-quicksand: "Quicksand";
  --font-lexend: "Lexend Deca";
}

@layer base {
  h1 {
    @apply text-base font-quicksand tracking-tight text-shadow-slate-900;
  }
}

@layer components {

  .nav-link,
  .selected {
  font-family: "Lexend Deca";
  min-width: max-content;
  text-align: center;
  }

   .selected {
    font-weight: bold;
    font-size:clamp(1.2rem, 3.5vw, 2rem);
    text-decoration: none;
    position: relative;
    padding: clamp(0.25rem, 1vw, 0.5rem);
    color: rgb(2, 81, 133);
  }

  .selected::before,
  .selected::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
  }

  .selected::after {
    top: 0;
    left: 0;
    border-top: 3px groove rgba(237, 16, 16, 0.4);
    border-left: 3px groove rgba(237, 16, 16, 0.4);
  }

  .selected::before {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid rgba(237, 16, 16, 0.4);
    border-right: 3px solid rgba(237, 16, 16, 0.4);
  }
  
  .nav-link {
    font-weight: bold;
    font-size:clamp(1.2rem, 3.5vw, 2rem);
    text-decoration: none;
    position: relative;
    padding: clamp(0.25rem, 1vw, 0.5rem);
  }

  .nav-link::before,
  .nav-link::after {
    content: "";
    position: absolute;
    display: block;
    border: 0 solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease;
  }

  .nav-link::after {
    top: 0;
    left: 0;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
  }

  .nav-link::before {
    right: 0;
    bottom: 0;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    width: 10px;
    height: 10px;
    border-color: #e52626;
  }

}

:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 2rem;
  color: rgba(25, 25, 25, 0.87);
  background-color: #fefefe;
}

#root {
  width: 100%;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
